﻿


.btn-margin {
    margin-left:10px;
    margin-right:10px;
}

.required {
   color:red;
}

.grid_scroll {
    overflow: scroll; 
    height: 350px;
    width:auto;
    
}
         
a {
    cursor:pointer;
}
.margin {
    margin-left:4px;
    margin-right:4px;
}

select {
    padding:4px;
    margin: 0;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
    border-radius:4px;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    /*background: url(/Image/dropdown.png) no-repeat 2px right ;*/
    border: 1px solid #0f000f;
    outline:none;
    display: inline-block;
   -webkit-appearance:none;
   -moz-appearance:none;
    cursor:pointer;
    user-select:text;
}
select:disabled {
    
    cursor:wait;

}

.glyphicon-color {
    background:#FF1493;
}

select:focus {
    border: 2px solid #00CC00;
}

.grid_fix_header{ font-weight:bold; background-color: Green; position:relative; 
                 top:expression(this.parentNode.parentNode.parentNode.scrollTop-1);}

.grid_fix_footer { font-weight:bold; background-color: Green; position:relative;
                 bottom:expression(getScrollBottom(this.parentNode.parentNode.parentNode.parentNode));}


.div_form_layout {
    background:#F0F8FF;
    color:#225599;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
     

}

h4 {
    position:absolute;
    font-size: 16px;
    font-family:Verdana;
    color: #0f000f;
    margin: 0px 20px 5px 20px;
    padding-top: 20px;
    font-weight: bold;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #aabd56;
    padding-bottom: 3px;
}

