﻿body {
    font-family: Verdana;
    font-size: 14px;
    color: #3B5998;
}

#table_ticket {

 font-family: Verdana;
    font-size: 14px;
    color:black;
    border:1px;
    width:500px;

}
#PassengerDetail {
    font-family: Verdana;
    font-size: 14px;
    color:black;
    border:1px;
    border-color:black;        
    width:500px;
}

.text_box_size {
    width: 200px;
    margin-left: 15%;
   
    box-shadow: 0px 0px 10px 3px rgba(119, 119, 119, 0.20);
    -moz-box-shadow: 0px 0px 10px 3px rgba(119, 119, 119, 0.20);
    -webkit-box-shadow: 0px 0px 10px 3px rgba(119, 119, 119, 0.20);
}

#img_bus_red {
    margin-top:10%;
    width: 350px;
    height: 350px;
    z-index: -1;
}

.img_profile {
    width:100px;
    height:100px;
    z-index: -1;
}
.div-signin-signup {
    margin: 20px auto;
    padding: 18px 20px;
    width: 28%;
    background-color: #228C80;
    /*background: #3B5998;*/
    background-clip: padding-box;
    border: 1px solid #172b4e;
    border-bottom-color: #142647;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
}

.div-banner {
    font-weight: 100;
    font-size: 16px;
    font-family: verdana, sans-serif;
    background-color: #F4F5EF;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    -webkit-box-shadow: -3px -5px 6px rgba(50, 50, 50, 0.35);
    -moz-box-shadow: -3px -5px 6px rgba(50, 50, 50, 0.35);
    box-shadow: 0px 0px 10px 3px rgba(50, 50, 50, 0.35);
    height: 100px;
}

.div-header {
    font-weight: 100;
    font-size: 16px;
    font-family: verdana, sans-serif;
    background-color: #228C80;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    -webkit-box-shadow: -3px -5px 6px rgba(50, 50, 50, 0.35);
    -moz-box-shadow: -3px -5px 6px rgba(50, 50, 50, 0.35);
    box-shadow: 0px 0px 10px 3px rgba(50, 50, 50, 0.35);
    height: 50px;
}

.div-footer {
   
	height:80px;
	position:relative;
	top:50px;
   
   

    font-weight: 100;
    font-size: 16px;
    font-family: verdana, sans-serif;
    background-color: #228C80;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    -webkit-box-shadow: -3px -5px 6px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: -3px -5px 6px rgba(50, 50, 50, 0.75);
    box-shadow: -3px -5px 6px rgba(50, 50, 50, 0.75);

}

.a-color {
    color: #3B5998;
    cursor:pointer;
}

a {
    color: whitesmoke;
}

.error-control {
    border-color: red;
}

.shadow {
    box-shadow: 0px 0px 10px 3px rgba(119, 119, 119, 0.50);
    -moz-box-shadow: 0px 0px 10px 3px rgba(119, 119, 119, 0.50);
    -webkit-box-shadow: 0px 0px 10px 3px rgba(119, 119, 119, 0.50);
}

.shadow-light {
    box-shadow: 0px 0px 10px 3px rgba(119, 119, 119, 0.20);
    -moz-box-shadow: 0px 0px 10px 3px rgba(119, 119, 119, 0.20);
    -webkit-box-shadow: 0px 0px 10px 3px rgba(119, 119, 119, 0.20);
}




.searchButton {
    -moz-box-shadow: -1px 6px 14px -6px #3e7327;
    -webkit-box-shadow: -1px 6px 14px -6px #3e7327;
    box-shadow: -1px 6px 14px -6px #3e7327;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
    background: -moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background: -webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background: -o-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background: -ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
    background-color: #77b55a;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #4b8f29;
    display: inline-block;
    color: #ffffff;
    font-family: arial;
    font-size: 15px;
    font-weight: 200;
    padding: 7px 39px;
    text-decoration: none;
    text-shadow: 1px -1px 0px #5b8a3c;
}

    .searchButton:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
        background: -moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
        background: -webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
        background: -o-linear-gradient(top, #72b352 5%, #77b55a 100%);
        background: -ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
        background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
        background-color: #72b352;
    }

    .searchButton:active {
        position: relative;
        top: 1px;
    }

.inset-text {
    font-size: 32px;
    color: #344251;
    text-shadow: 1px 1px 0px #bad3ed;
    font-weight: bold;
    margin-left: 20%;
}

.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.capitalize {
    text-transform: capitalize;
}


.errorControl {
    border-color: red;
}

.errorMsg {
    color: red;
}



.button-blue {
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background: -moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: -webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: -o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: -ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
    background-color: #33bdef;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #057fd0;
    display: inline-block;
    color: #ffffff;
    font-family: Verdana;
    font-size: 15px;
    font-weight: 200;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
}

    .button-blue:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
        background: -moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
        background: -webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
        background: -o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
        background: -ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
        background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
        background-color: #019ad2;
    }

    .button-blue:active {
        position: relative;
        top: 1px;
    }


.div-select-seat {
    margin: 20px auto;
    padding: 18px 20px;
    width: 50%;
    background-color: #228C80;
    /*background: #3B5998;*/
    background-clip: padding-box;
    border: 1px solid #172b4e;
    border-bottom-color: #142647;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);

}

.table-background{
    width:100%;
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;

    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;

   -moz-border-radius-topright:0px;
   -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;

    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.table-background table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.table-background tr:last-child td:first-child{
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}
.table-background tr:nth-child(odd){ 
    background-color:whitesmoke; 

}
.table-background tr:nth-child(even){ 
    background-color:whitesmoke; 

}
.CSSTableGenerator td{
    vertical-align:middle;
    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:7px;
  
}
.table-background th{
    cursor:pointer;
    color:whitesmoke;
    font-size:13px;
    font-weight:600;
    background-color:#E8A317;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 1px;

}
.extra_large_control{
   min-width:300px;
   max-width:400px;
}

.large_control{
   min-width:250px;
   max-width:300px;
}

.medium_control {
   min-width:150px;
   max-width:200px;
}

.small_control {
   min-width:70px;
   max-width:120px;
}

.tiny_control {
    min-width:20px;
   max-width:70px;
}

label {
    font-weight: 100;
}
Label {
    font-weight: 100;
}