﻿#holder{    
/*height:200px;    
width:450px;*/
background-color:#F5F5F5;
/*border:3px solid #A4A4A4;*/
border:2px solid black;
border-radius:2px;
/*float:left;*/
}
#place {
position:relative;
margin:7px;
}
#place a{
font-size:0.6em;
}
#place li
{
 list-style: none outside none;
 position: absolute;   
}    
#place li:hover
{
background-color:yellow;      
} 
#place .seat{
    
/*background:url("../Image/blueSeat.jpg") no-repeat scroll 0 0 transparent;*/
background:url("../Image/available_seat_img.gif") no-repeat scroll 0 0 transparent;
height:33px;
width:33px;
display:block;   
}
#place .selectedSeat
{ 
background-image:url("../Image/booked_seat_img.gif");  
/*background-image:url("../Image/redSeat.jpg");*/        
}
#place .selectingSeat
{ 
    /*background-image:url("../Image/greenSeat.jpg");*/
background-image:url("../Image/selected_seat_img.gif");        
}
#place .row-3, #place .row-4{
margin-top:10px;
}

#seatDescription li{
vertical-align : middle;
list-style: none outside none;
padding-left:35px;
height:35px;
margin-bottom:5px;
}
div.inline { float:left; }

.blank {
    width:33px;
    height:33px;
}
.sleeperLayout {
    border:solid;
    padding:4px 4px 4px 4px; 
}