﻿#holder{    
/*height:300px;    
width:450px;*/

background-color:#F5F5F5;
/*border:3px solid #A4A4A4;*/
border:2px solid black;
border-radius:2px;
padding-top: 10px;
/*float:left;*/
}
.ul-place {
position:inherit;
/*margin:7px;*/
padding:5px;
}
.ul-place a{
font-size:0.6em;
}
.ul-place li
{
 list-style: none outside none;
 position: absolute;   
}    


.ul-place .seat:hover
{
background-color:yellow;      
} 

/*.blank:hover
{
background-color:white;      
}*/ 

.ul-place .seat{
    
/*background:url("../Image/blueSeat.jpg") no-repeat scroll 0 0 transparent;*/
background:url("../Image/available_seat_img.gif") no-repeat scroll 0 0 transparent;
height:33px;
width:33px;
display:block;
cursor:pointer;  
}
.ul-place .selectedSeat
{ 
background-image:url("../Image/booked_seat_img.gif");  
/*background-image:url("../Image/redSeat.jpg");*/        
}
.ul-place .selectingSeat
{ 
    /*background-image:url("../Image/greenSeat.jpg");*/
background-image:url("../Image/selected_seat_img.gif");        
}
/*.ul-place .row-3, .ul-place .row-4{
margin-top:10px;
}*/

#seatDescription li{
vertical-align : middle;
list-style: none outside none;
padding-left:35px;
height:35px;
margin-bottom:5px;
}
div.inline { float:left; }

.blank {
    width:33px;
    height:33px;
   
}
.sleeper-layout {
    position:relative;
    width:auto;
    height:185px;
    border:2px solid #228C80;
    border-radius:6px;
    padding:10px 5px 10px 5px; 
    margin-bottom:10px;
}

.semi-sleeper-layout {
    position:relative;
    width:auto;
    height:215px;
    border:2px solid #228C80;
    border-radius:6px;
    padding-left:25px;
    padding-right:25px;
    padding-top: 5px;
    padding-bottom:5px; 
    margin-bottom:10px;
}

.modal-header {
    margin: 0px;
    padding-left:10px;
    padding-right:10px;
    padding-top:0px;
    padding-bottom:0px;
}
.modal-body {
    padding: 10px;
}
.bus-info {
    font-size:small;
}