﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="advertisement-route.ascx.cs" Inherits="iBus.UserControl.advertisement_route" %>
<nav class="navbar" style="margin-left:50px" role="navigation">
    <ul  class="nav ">
        
        <li><a href="#">Bangalore to Surat</a></li>
        <li><a href="#">Hydrabad to Bhopal</a></li>
        <li><a href="#">Bangalore to Chennai</a></li>
        <li><a href="#">Bhopal to Bagalore</a></li>
        <li><a href="#">Trichy to Bagalore</a></li>
        <li><a href="#">Channai to Bangalore</a></li>
        <li><a href="#">Hydrabad to Chennai</a></li>
    </ul>
</nav>