﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="common-footer.ascx.cs" Inherits="iBus.UserControl.CommonFooter" %>
<nav class="navbar  div-footer shadow" role="navigation">
    <ul class="nav navbar-nav">
         <li ><a href="#">iBus</a></li>
         <li ><a href="#">Terms and conditions</a></li>
         <li ><a href="#">All rights reseved</a></li>
    </ul>
</nav>