﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="fillDataBase.aspx.cs" Inherits="iBus.fillDailytrip" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button ID="Button1" runat="server" Text="Fill DailyTrip Table" OnClick="Button1_Click" />
        <br />
        <asp:Button ID="Button2" runat="server" Text="Fill AmenitiesDetails Table" OnClick="Button2_Click"/>
        <br />
        <asp:Button ID="Button3" runat="server" Text="Fill BusTypeDetails Table" OnClick="Button3_Click" />
        <br />
        <asp:Label ID="LabelMsg" runat="server" Text="Label"></asp:Label>
        <br />
      

    </div>
    </form>
</body>
</html>
